# ========================
# Virtual Environment
# ========================
venv/
.venv/
.venv311/

# ========================
# Python Cache
# ========================
__pycache__/
*.pyc

# ========================
# ML Large Files
# ========================
artifacts/
*.pth
*.npz
*.pkl
*.npy
*.csv

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db